<div class="w3-highway-red">

<section id="contact" class="w3-container w3-content w3-center" style="max-width:800px">

    
    <!-- Direct Contact-->
    <div id="contact-direct" class="w3-container w3-content w3-padding-16 w3-center">
        <h1>Contact Marco Directly</h1>
        <a href="tel:+447778499377" style="text-decoration: none;" target="_blank"><b class="w3-xlarge w3-hover-opacity">+44 (0)7778 499 377</b></a>
    </div>
    
    <div class="w3-container w3-content w3-padding-16 w3-center">
        <h1>Get in touch</h1>
        <p>If you want to book Marco for an event, please contact him directly or use the contact form below. He will be delighted to discuss the requirements and the format of your event with you.</p>
        <p>Your information will only be used to communicate with Marco regarding  your event</p>
    </div>
    
    {% include contact-form.html %}

    <!-- Social Media-->
    <div class="w3-container w3-content w3-padding-16 w3-center">
        <h1>Follow Marco</h1>
        
        <a class="w3-xxxlarge" href="https://facebook.com/magicmarcouk" target="_blank"><i class="fab fa-facebook-square w3-hover-opacity w3-padding"></i></a>
        <a class="w3-xxxlarge" href="https://www.linkedin.com/in/marco-magician-8618bb15/" target="_blank"><i class="fab fa-linkedin-in w3-hover-opacity w3-padding"></i></a>
    <div>
</section>
</div>

