<div class="w3-container w3-content">
<div class="w3-center w3-white" style="max-width:1000px;">

        <h2>Make your next event magical</h2>
    <div class="w3-cell-row event-grid">

        <div class="w3-container w3-center m3 w3-cell w3-mobile w3-padding event-card">
            <div class="w3-container w3-center w3-black event-card-inner">
                <h3>Corporate<br>Magician</h3>
                <img src="{{ '/img/corporate/thumbnails/3.jpg' | relative_url }}" alt="" width="320" height="214" loading="lazy" style="width:100%;height:auto; box-shadow: 0 0 8px 8px white inset;
				"/>
                <br>
	                <a class="w3-button w3-highway-red w3-margin" href="{{ '/corporate-magician/' | relative_url }}">Corporate events</a>
            </div>
        </div>

		<div class="w3-container w3-center m3 w3-cell w3-mobile w3-padding event-card">
			<div class="w3-container w3-center w3-black event-card-inner">
				<h3>Event<br>Magician</h3>
				<img src="{{ '/img/event/thumbnails/3.jpg' | relative_url }}" alt="" width="320" height="213" loading="lazy" style="width:100%;height:auto; box-shadow: 0 0 8px 8px white inset;">
				<br>
					<a class="w3-button w3-highway-red w3-margin" href="{{ '/event-magician/' | relative_url }}">Other events</a>
			</div>
		</div>
		
        <div class="w3-container w3-center m3 w3-cell w3-mobile w3-padding event-card">
            <div class="w3-container w3-center w3-black event-card-inner">
                <h3>Party<br>Magician</h3>
                <img src="{{ '/img/party/thumbnails/4.jpg' | relative_url }}" alt="" width="320" height="214" loading="lazy" style="width:100%;height:auto; box-shadow: 0 0 8px 8px white inset;">
                <br>
	            <a class="w3-button w3-highway-red w3-margin" href="{{ '/party-magician/' | relative_url }}">Private parties</a>
            </div>
        </div>
        

        <div class="w3-container w3-center m3 w3-cell w3-mobile w3-padding event-card">
            <div class="w3-container w3-center w3-black event-card-inner">
                <h3>Wedding<br>Magician</h3>
                <img src="{{ '/img/wedding/thumbnails/1.jpg' | relative_url }}" alt="" width="320" height="213" loading="lazy" style="width:100%;height:auto; box-shadow: 0 0 8px 8px white inset;">
                <br>
	            <a class="w3-button w3-highway-red w3-margin" href="{{ '/wedding-magician/' | relative_url }}">Weddings</a>
            </div>
        </div>
    </div>
</div>
</div>
