
<header class="w3-center w3-black" >
    <div class="w3-content" style="max-width:1000px;">
        <!-- Navigation Bar-->
        <div style="height:50px;">
            {% include nav.html %}
        </div>
        
        <!-- Magic Marco logo-->
        <div style="height:300px;">
            <div class="w3-container w3-show ">
                <br><br>
                <b class="w3-border w3-center w3-jumbo w3-padding-small w3-hide-small w3-hide-medium">MAGIC MARCO</b>
                <b class="w3-border w3-center w3-xxlarge w3-padding-small w3-hide-large">MAGIC MARCO</b>
            </div>
            <br>
            
            <!-- Quote -->
            <div class="w3-container w3-show w3-center w3-padding" style="width:60%; margin: auto;">
                <i class="w3-hide-small w3-hide-medium w3-xlarge">Being a Magician isn't just about performing tricks, it's about being able to entertain an audience...</i>
                <i class="w3-hide-large w3-large">Being a Magician isn't just about performing tricks, it's about being able to entertain an audience...</i>
            </div>
        </div>
    </div>
    
</header>
