<head>
    <!-- Encoding -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title, Description and Keywords -->
    <title>{{site.title}} {% if page.title %}- {{page.title}} {% endif %}- Extraordinary Close Up Magician </title>
	<meta name="description" content="Marco (magicmarco.co.uk) is a fabulously entertaining close-up magician who performs magic at weddings, private parties and corporate events" />
	<meta name="keywords" content="magician, closeup, close-up magician, magic entertainer" />
	
    <!-- Stylesheets-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Icon-->
    <link rel="icon" type="image/png" href="{{ site.url }}/img/icon.png">
		
    <!-- Text Style -->
    <style>
        body {font-family: "Alegreya", sans-serif}
    </style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7407P5VRN2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-7407P5VRN2');
	</script>
	
</head>
  
