<!doctype html>
<html lang="en">

    {% include head.html %}
    
    <body>
    
        <!--Header -->
        {% include header-no-banner.html %}
        
        <!--Main -->
        <main>
            <div class="w3-container w3-content w3-justify w3-padding-16" style="max-width:800px">
                <h1 class="w3-center">{{ page.title }}</h1>
                <div class="w3-center">
                    <img style="width:80%;height:auto;border:2px solid #555;border-radius:25px;" src="{{ page.img | relative_url }}" alt="{{ page.title }} playing card" loading="lazy">
                 </div>
                
                <br/>
            </div>
            {% include contact-compact.html %}
        </main>

        {% include footer.html %}
    
    </body>
</html>
