<!doctype html>
<html lang="en">

    {% include head.html %}
    
    <body>
    
        <!--Header -->
        {% include header-no-banner.html %}
        
        <!--Main -->
        <main>
            <div class="w3-container w3-content w3-justify w3-padding-16" style="max-width:800px">
                
                <div class="w3-center">
                    <img style="width: 80%;border: 2px solid #555;border-radius: 25px;" src="{{ site.url }}/{{ page.img }}" alt=""/>
                 </div>
                
                <br/>
            </div>
            {% include contact-compact.html %}
        </main>

        {% include footer.html %}
    
    </body>
</html>

